
.menu-items{
    display: flex;
    margin: 0 5px 20px 0;
    padding: 0;

}

.menu-item{
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

.active-side{
    background: #333;
    border-bottom: 3px solid white;
}

.filter{
    width: 95%;
    margin-bottom: 20px;
}

.menu-item:hover{
    background-color: #444;
}



